/*
If you feel that this looks awful or is a personal affront to you please suggest changes.  My artisic abilities are somewhat lacking.  
*/

body {
	overflow-x:hidden;
	display: grid;
	width:100%;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

header {
	grid-column: 1 / 4;
	grid-row: 1;
	padding-bottom:15px;
}

header h1 a {
	text-decoration:none;
}

nav {
	position: fixed;
	left:0px;
	top:120px;
	border:1px solid;
	width: 15%;
}

main {
	grid-column: 2 / 4;
	grid-row: 2;
}

footer {
	grid-column: 3;
	grid-row: 4;
}

.navbar {
	display:inline;
}

h1 {
	font-family: monospace;
}

h2, h3, h4, h5, h6 {
	font-family:sans-serif;
}

pre {
	background-color: #eee;
}

.outer {
	border: 2px solid black;
}
