<!DOCTYPE html>
<html>
	<head>
		<title>Account Guard</title>
	</head>
	<body>
		<main>
			<p>This is a test system designed to detect and prevent account hijacking.  It collects data about the users normal browser and behaviors and uses this to identify malicious logins.  </p>
			<p>For more information you can view the code on <a href="https://github.com/michardy/account-hijacking-prevention">GitHub</a> or contact me at <a href="mailto:mhardy17@bayschoolsf.org">mhardy17@bayschoolsf.org</a></p>
		</main>
	</body>
</html>
